{% extends 'theblog/base.html'  %}
{% block title%}{{"New Recipe"}}{% endblock %}

{%block content%}
       
 {% if user.is_authenticated %}
 {%  if recipie.chef.profile.id %}
	<h1>Add Recipe</h1>

	 <div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.media}}
			{{form.as_p}}

		    <button class="btn btn-dark"> Add Recipe</button>

	</div>


	<script>
		var name = "{{ user.id }}";
		document.getElementById("elder").value = name;


	</script>
{% else %}

You have to create a profile in order to add a recipe
{% endif %}
{% else %}

You shall not pass !!!

{% endif %}

{% endblock%}