{% extends 'theblog/base.html'  %}
{% block title%}{{"New Recipie"}}{% endblock %}

{%block content%}
       
 {% if user.is_authenticated %}
	<h1>Add Recipe</h1>

	 <div class="form-group">
		<form method="POST">
			{% csrf_token %}
			{{form.media}}
			{{form.as_p}}

		    <button class="btn btn-dark"> Add Recipie</button>

	</div>


	<script>
		var name = "{{ user.id }}";
		document.getElementById("elder").value = name;


	</script>
{% else %}

You shall not pass !!!

{% endif %}

{% endblock%}