{% extends 'theblog/base.html'%}
{% block title %}Login{% endblock %}
{% block content %}


<h1>Change Password</h1>
<br/><br/>
Your password can’t be too similar to your other personal information.<br/>
Your password must contain at least 8 characters.<br/>
Your password can’t be a commonly used password.<br/>
Your password can’t be entirely numeric.<br/>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-danger">Change Password
        </button>
</div>



{% endblock %}